@font-face {
    font-family: monserrat;
    src: url('../assets/fonts/Montserrat-ExtraLight.ttf');
}
@font-face {
    font-family: monserrat-bold;
    src: url('../assets/fonts/Montserrat-Bold.ttf');
}
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: wheat;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


